<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenrecy.smarthealthcareservice.dao.BillDao">
    <select id="selectItemBillListByCount" parameterType="int" resultType="ItemBill">
        SELECT * FROM item_bill WHERE user_id=#{user_id} AND count=#{count}
    </select>

    <select id="selectDrugBillListByCount" parameterType="int" resultType="DrugBill">
        SELECT * FROM drug_bill WHERE user_id=#{user_id} AND count=#{count}
    </select>

    <insert id="createItemBill" parameterType="ItemBill">
        INSERT INTO item_bill(item_bill_id, check_item_id, histories_id, user_id, user_name, item_id, item_name, price, item_count, total, count, isPay)
        VALUES (#{item_bill_id}, #{check_item_id}, #{histories_id}, #{user_id}, #{user_name}, #{item_id}, #{item_name}, #{price}, #{item_count}, #{total}, #{count}, #{isPay})
    </insert>

    <insert id="createDrugBill" parameterType="DrugBill">
        INSERT INTO drug_bill(drug_bill_id, prescription_id, histories_id, user_id, user_name, drug_id, drug_name, price, drug_count, total, count, isPay)
        VALUES (#{drug_bill_id}, #{prescription_id}, #{histories_id}, #{user_id}, #{user_name}, #{drug_id}, #{drug_name}, #{price}, #{drug_count}, #{total}, #{count}, #{isPay})
    </insert>

    <select id="selectItemBillByCheId" parameterType="String" resultType="ItemBill">
        SELECT * FROM item_bill WHERE check_item_id=#{check_item_id};
    </select>

    <select id="selectDrugBillByPreId" parameterType="String" resultType="DrugBill">
        SELECT * FROM drug_bill WHERE prescription_id=#{prescription_id}
    </select>
</mapper>