<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenrecy.smarthealthcareservice.dao.RegistrationDao">
    <select id="selectRegistrationList" parameterType="int" resultType="Registration">
        SELECT * FROM registration WHERE user_id=#{user_id} ORDER BY date, time DESC LIMIT 6
    </select>

    <select id="selectRegistration" parameterType="String" resultType="Registration">
        SELECT * FROM registration WHERE doc_id=#{doc_id} AND date=#{date} AND time=#{time}
    </select>

    <insert id="insertRegistration" parameterType="Registration">
        INSERT INTO registration(record_id, user_id, user_name, user_IDCard, doc_id, doc_name, dept_id, dept_name, num, price, date, time, create_time)
        VALUES (#{record_id}, #{user_id}, #{user_name}, #{user_IDCard},#{doc_id}, #{doc_name}, #{dept_id}, #{dept_name}, #{num}, #{price}, #{date}, #{time}, #{create_time})
    </insert>
    
    <select id="selectNumByTime" parameterType="String" resultType="int">
        SELECT num FROM registration WHERE doc_id=#{doc_id} AND date=#{date} AND time=#{time}
    </select>

    <select id="selectRegistrationOfDoctor" resultType="OutRegistration">
        SELECT user_name, user_IDCard, date, time,  num, confirm, skip FROM registration WHERE doc_id=#{doc_id} AND date=#{date} AND confirm='No' ORDER BY num;
    </select>
    
    <update id="updateSkipNum">
        UPDATE registration SET skip='Yes' WHERE doc_id=#{doc_id} AND date=#{date} AND num=#{num}
    </update>
    
    <update id="updateConfirmNum">
        UPDATE registration SET confirm='Yes' WHERE doc_id=#{doc_id} AND date=#{date} AND num=#{num}
    </update>
</mapper>